<template lang="pug">
| Hello, world!
</template>

<script lang="ts">
import { defineComponent } from 'vue'

type State = {
}

export default defineComponent({
  name: 'Home',
  data(): State {
    return {
    }
  }
});
</script>