<template lang="pug">
MainView
</template>

<script>
import { defineComponent } from 'vue'

import MainView from './view/MainView.vue'

export default defineComponent({
  components: {
    MainView
  }
});

</script>

<style lang="scss">
</style>